<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" type="image" href="#">

    <link rel="stylesheet" href="/stylesheets/base/padrao.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

    <!--Fontes importadas-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="pagina">
    <header class="cabecalho container">
        <h1 class="cabecalho__tituloGuia">Controle Financeiro</h1>
    </header>
    <main class="conteudoPrincipal container">        
        <ul class="menu">
            <li class="menu__item"><a class="menu__ancora" href="/lancamento">Lançamentos</a></li>
            <li class="menu__item"><a class="menu__ancora" href="#">Relatório Mensal</a></li>
            <li class="menu__item"><a class="menu__ancora" href="#">Acumulado do ano</a></li>
        </ul>
    </main>    
</body>
</html>