/*componentes*/
@import url(./component/cabecalho.css); /*cabecalho*/

.conteudoPrincipal{
    background-color: var(--cinza);
    box-shadow: 5px 5px 5px #464646;
    padding: 16px 32px;
}

.tabelaLancamentos, .tabelaLancamento__celulaCabecalho, .tabelaLancamentos__celula{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 8px;
}

.tabelaLancamentos{
    background-color: var(--branco);        
    width:100%; 
}


.tabelaLancamentos__celula, .tabelaLancamento__celulaCabecalho {
    padding: 4px 4px;
}